//@import  "normalize"
@import  url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')

$desktopWidth: 1140px

$c_black: #212121
$c_red: #d70000
$c_green: #7bb72e
$c_gold: #f7c101
$c_white: #f7f7f7
$c_gray-dark: #999
$c_gray-light: #ddd
$c_female: #fe72bd
$c_fff: #fff
$c_male: #87befe
$c_green-light: #b1e898


$esLightTransparency: rgba(255, 255, 255, 0.8)
$esBlackTransparency: rgba(0, 0, 0, 0.6)
$esModalTransparency: rgba(0, 0, 0, 0.85)


$gap_big: 48px

$basic-family: "Inter", sans-serif
$heading-family: "Inter", sans-serif



$colorBlackLight: #000